extends layout


  
block content         
    section.d-flex.flex-column.align-items-center.justify-content-center.py-4
      .container
        .row.justify-content-center
          .col-lg-8.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
            .d-flex.justify-content-center.py-4
              a.logo.d-flex.align-items-center.w-auto(href='/user-management/')
                img(src='assets/img/enko-modern-logo.png' alt='')
                span.d-lg-block.text-success Enko Education
            // End Logo
            .col-lg-12.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
                p
                    | Hello 
                    strong #{session.username}, 
                    |You are about to create a new user.
                    a(href='/user-management/logout') &nbsp Close this app
    script(type='text/javascript' src='javascripts/managerEmailAddressFinder.js') 
    .row.lg-6.justify-content-center
        .row-lg-6.justify-content-center
            form.row.g-3.needs-validation.justify-content-center(novalidate='' action='/user-management/' method='post')
                .card(style="width: 75%")
                    
                    .card-body
                        //gathering current user from session
                        input.form-control(type='text' name='usecase' required='' value='adduser' hidden)
                        h5.card-title General informations about the person
                        // General Form Elements                        
                        .col-md-4
                            input#validationCustom03jh.form-control(type='text' value=useridentry name='userid' placeholder='' required='' disabled='' hidden='')                                        

                        .col-md-8
                            label.form-label(for='validationCustom01') Firstname
                            input#validationCustom03.form-control(type='text' required='' name='firstname' pattern="[A-Za-z]{2,}" minLength="2")
                            .invalid-feedback
                                | Please provide a valid Firstname without space.
                        .col-md-8
                            label.form-label(for='validationCustom02') Lastname
                            input#validationCustom03.form-control(type='text' required='' name='lastname' pattern="[A-Za-z]{2,}" minLength="2")
                            .invalid-feedback
                                | Please provide a valid Last name without space.
                        
                        .col-md-8
                                label.form-label(for='validationCustompemail') Personal email of the employee
                                input.form-control(type='email' required='' minLength="4" placeholder="personal email" name='personalemail')
                                .invalid-feedback
                                    | Please provide a valid email.
                        .col-md-8
                                label.form-label(for='validationCustom01') Personal phone number
                                input.form-control(type='number' required='' name='personalphone' min='1')
                                .invalid-feedback
                                    | Please provide a valid Phone number.
                        .col-md-8
                                label.form-label(for='inputDate') Birth date
                                input.form-control(type='date' name='birthdate')
                        .col-md-8
                            label.form-label(for='validationCustom01') Country of residence
                            select.selectpicker.countrypicker.form-control(data-flag='true' name='contryresidence')
                            .invalid-feedback
                                | Please provide a valid contry.
                        .col-md-8
                            label.form-label(for='validationCustom0Nat') Nationality
                            select.selectpicker.countrypicker.form-control(data-flag='true' name='nationality')
                                .invalid-feedback
                                    | Please provide a valid Nationality.
                        .col-md-8
                            label.form-label(for='validationCustom02') City of residence
                            input#validationCustom03.form-control(type='text' required='' name='city')
                            .invalid-feedback
                                | Please provide a valid Last name.
                        
                        .col-md-8
                                label.form-label(for='validationCustom02') Gender
                                .br
                                .form-check.form-check-inline
                                    input#inlineRadiom.form-check-input(type='radio' value='male' name='gender' )
                                    label.form-check-label(for='inlineRadiom') Male
                                .form-check.form-check-inline
                                    input#inlineRadiof.form-check-input(type='radio' value='female' name='gender')
                                    label.form-check-label(for='inlineRadiof') Female
                                .form-check.form-check-inline
                                    input#inlineRadioo.form-check-input(type='radio' value='other' name='gender')
                                    label.form-check-label(for='inlineRadioo') Other
                                    input#validationCustom03.form-control(type='text' name='othergender')
                                                                                
                        .col-md-8
                            label.form-label(for='validationCustom02') Identifier type
                            .br
                            .form-check.form-check-inline
                                input#inlineRadioid.form-check-input(type='radio' value='NIC' name='identifier')
                                label.form-check-label(for='inlineRadioid') NIC
                                //input#validationCustom0n.form-control(type='text' name='NIC')
                            .form-check.form-check-inline
                                input#inlineRadiop.form-check-input(type='radio' value='passport' name='identifier')
                                label.form-check-label(for='inlineRadiop') Passport
                            .br
                            label.form-check-label(for='validationCustom0v2') Identifier number
                            input#validationCustom03.form-control(type='text' name='identifiervalue')                        
                            
                        .col-md-8
                            label.form-label(for='validationCustom02') Marital Status
                            .br
                            .form-check.form-check-inline
                                input#inlineRadiosi.form-check-input(type='radio' value='sigle' name='maritalstatus' )
                                label.form-check-label(for='inlineRadiosi') Single
                            .form-check.form-check-inline
                                input#inlineRadioma.form-check-input(type='radio' value='married' name='maritalstatus')
                                label.form-check-label(for='inlineRadioma') Married
                            .form-check.form-check-inline
                                input#inlineRadiow.form-check-input(type='radio' value='widow' name='maritalstatus')
                                label.form-check-label(for='inlineRadiow') Widow(er)
                            .form-check.form-check-inline
                                input#inlineRadioooth.form-check-input(type='radio' value='other' name='maritalstatus')
                                label.form-check-label(for='inlineRadioooth') Other
                                input#inlineRadioooth.form-control(type='text' name='othermaritalstatus' placeholder='type other')                    
                        .col-md-8
                            label.form-label(for='validationCustom01') Number of children (lower than 18)
                            input#validationCustom03.form-control(type='number'  name='numberchildren' min='0')
                            .invalid-feedback
                                | Please provide a valid number.
                            
                        .col-md-8
                            label.form-label(for='validationCustom01') Emergency contact - Name
                            input.form-control(type='text' required='' name='emergencycontactname')
                            .invalid-feedback
                                | Please provide a valid name.
                        .col-md-8
                            label.form-label(for='validationCustom01') Emergency contact - Phone
                            input.form-control(type='number' required='' name='emergencycontactphone')
                            .invalid-feedback
                                | Please provide a valid Phone number.

                .card(style="width: 75%")
                    .card-body
                        .pt-4.pb-2
                            h5.card-title Specific informations about the person at Enko
                            // General Form Elements                        
                           
                            .col-md-8
                                script(type='text/javascript' src='javascripts/proposedEmailValidator.js') 
                                label.form-label(for='yourUsername') Proposed email
                                .input-group.has-validation
                                p.input-group.mb-3
                                    input#proposedemail.form-control(type='text' name='suggestedemail' onkeypress='clearProposedEmailRespponse()' pattern="[A-Za-z]{1,}.[A-Za-z]{1,}" style='text-transform:lowercase' minLength="3" placeholder="firstname.lastname" aria-label="Recipient's username" aria-describedby='basic-addon2' required='' )
                                    span#basic-addon2.input-group-text @enkoeducation.com
                                    button#checkproposedemail.btn.btn-primary(onclick='verifyEmail()' type='button')
                                        span
                                        |                 Verify
                                    button#checkingproposedemail.btn.btn-primary(type='button' disabled='' style="display: none;"  )
                                        span.spinner-border.spinner-border-sm(role='status' aria-hidden='true')
                                        |                 Verify
                                    #emailfeedback 
                                    .invalid-feedback  please provide a valid suggestion
                                
                                    
                            .col-md-8
                                label.form-label(for='school') School / Campus / Organisation
                                select#school.form-control.form-select(required='' name='school' onclick='groupChecker()')                                    
                                    option(value='' disabled=''  selected='') Choose ...
                                    option(value='' disabled='') N.H
                                    option(value='ERV') Enko Riviera                   
                                    option(value='EOG') Enko Ouaga                    
                                    option(value='EBK') Enko Bamako                 
                                    option(value='EKG') Enko Keur Gorgui         
                                    option(value='EWC') Enko Waca                      
                                    option(value='EGC-P') Enko La Gaieté Primary              
                                    option(value='EGC-S') Enko La Gaieté Secondary
                                    option(value='EBC') Enko Bonanjo
                                    option(value='' disabled='') S.H
                                    option(value='AGP') Amazing Grace Private School
                                    option(value='EJA') Jacaranda Academy
                                    option(value='EBT') Enko Botho
                                    option(value='PED') Pestalozzi Education Center
                                    option(value='EVS') Enko Riverside
                                    option(value='ESC') Enko Sekeleka
                                    option(value='' disabled='') Central Office
                                    option(value='MKG') Marketing Team
                                    option(value='IT') IT Team
                                    option(value='FI') Finance Team
                                    option(value='L&T') Learning and Teaching Team
                                    option(value='OPS') School Ops Team
                                    option(value='LDS') Leadership Team

                                .invalid-feedback
                                    | Please select a valid school / Campus.
                            
                            .col-md-8
                                label.form-label(for='validationCustomPos') Position
                                select#position.form-control.form-select(required='' name='position' onclick='toolChecker()' )                               
                                    option(value='' disabled=''  selected='') Choose ...
                                    option(value='teacher' ) Teacher
                                    option(value='hos' ) Head Of School
                                    option(value='mo' ) Marketing Officer
                                    option(value='pro' ) Parent Relations Officer
                                    option(value='hr' ) HR
                                    option(value='it' ) IT
                                    option(value='finance' ) Finance
                                    option(value='ext' ) External
                                .invalid-feedback 
                                    | Please provide a valid position.
                                
                            .col-md-8
                                label.form-label(for='validationCustom0333') Subject (If teacher)
                                input#validationCustom03.form-control(type='text' name='subject' )  
                                .invalid-feedback 
                                        | Please provide a valid Subject.                     
                            
                            .col-md-8
                                label.form-label(for='validationCustom02') Type of contract
                                select.form-select.form-control(aria-label='Default select example' name='typeofcontract')
                                    option(selected='' disabled='') Choose ...
                                    option(value='permanent') Permanent
                                    option(value='fixed') Fixed term (1 year, 2 year, ...) contract
                                    option(value='consultant') Consultant                  
                                    option(value='Other') Intern
                                    option(value='other') Other

                            .col-md-8
                                label.form-label(for='validationCustom02') Type of employment
                                .br
                                .form-check.form-check-inline
                                    input#inlineRadiofull.form-check-input(type='radio' name='typeofemployment' value='fulltime')
                                    label.form-check-label(for='inlineRadiofull') Full time
                                .form-check.form-check-inline
                                    input#inlineRadiopart.form-check-input(type='radio' name='typeofemployment' value='parttime')
                                    label.form-check-label(for='inlineRadiopart') Part time 
                            .col-md-8
                                script(type='text/javascript' src='javascripts/managerEmailAddressFinder.js') 
                                label.form-label(for='validationCustom01') Who will be his/her manager? (Search by names)
                                p.input-group.mb-3
                                    input#managerKeyWord.form-control(type='text'  name='staffmemberreportingto' required='' onkeypress="clearPreviousManager()")
                                    span#managerEmailValue.input-group-text(style="display: none;")
                                    button#searchManager.btn.btn-primary(onclick='seachManagerAddress()' type='button')
                                        span
                                        |                 Search
                                    button#searchingManager.btn.btn-primary(type='button' disabled='' style="display: none;"  )
                                        span.spinner-border.spinner-border-sm(role='status' aria-hidden='true')
                                        |                 Search
                                    #managerFeedback
                                    .invalid-feedback
                                        | Please provide a valid salary.              
                            .col-md-8
                                label.form-label(for='inputDateProbation') Expiration date of the probation period.
                                input.form-control(type='date' name='expirationdateofpropationperiod' required='')
                                    
                            .col-md-12
                                label.form-label(for='validationCustom02') Is the probation period renewable?
                                .br
                                .form-check.form-check-inline
                                    input#inlineRadioyes.form-check-input(type='radio' value='yes' name='isprobationperionrenewable' checked='')
                                    label.form-check-label(for='inlineRadioyes') Yes
                                .form-check.form-check-inline
                                    input#inlineRadiono.form-check-input(type='radio' value='no' name='isprobationperionrenewable')
                                    label.form-check-label(for='inlineRadiono') No
                            
                            .col-md-4
                                label.form-label(for='startDate') Start date
                                input.form-control(type='date' name='startdate' required='')
                            .col-md-4
                                label.form-label(for='endDate') End date
                                input.form-control(type='date' name='enddate')
                            .col-md-8
                                label.form-label(for='validationCustomsal') Gross monthly salary (in local currency)
                                input.form-control(type='text' required='' name='grosssalary')
                                .invalid-feedback
                                    | Please provide a valid salary.
                            .col-md-8
                                label.form-label(for='validationCustomsal') Net monthly salary (in local currency)
                                input.form-control(type='text' required='' name='netsalary')
                                .invalid-feedback
                                    | Please provide a valid salary.
                
                .card(style="width: 75%")
                    .card-body.container
                        .row
                            h5.card-title IT tools
                            // General Form Elements                        
                                        
                            .row
                                .col
                                    .form-check.form-switch
                                    input#itasana.position.form-check-input(type='checkbox' value='asana' name='asana')
                                    label.form-check-label(for='itasana') &nbsp Asana
                                .col
                                    .form-check.form-switch
                                    input#itcanvas.position.form-check-input(type='checkbox' value='canvas' name='canvas')
                                    label.form-check-label(for='itcanvas') &nbsp Canvas
                                .col
                                    .form-check.form-switch
                                    input#itdocusign.position.form-check-input(type='checkbox' value='docusign' name='docusign')
                                    label.form-check-label(for='itdocusign') &nbsp Docusign
                                .col
                                    .form-check.form-switch
                                    input#itedadmin.position.form-check-input(type='checkbox' value='edadmin' name='edadmin')
                                    label.form-check-label(for='itedadmin') Ed admin
                            .row
                                .col
                                    .form-check.form-switch
                                    input#itgsuite.position.form-check-input(type='checkbox' value='gsuite' name='gsuite')
                                    label.form-check-label(for='itgsuite') &nbsp Google Workspace
                                .col
                                    .form-check.form-switch
                                    input#ithelpdesk.position.form-check-input(type='checkbox' value='helpdesk' name='helpdesk'  )
                                    label.form-check-label(for='ithelpdesk') &nbsp Helpdesk
                                .col
                                    .form-check.form-switch
                                    input#itjazzhr.position.form-check-input(type='checkbox' value='jazzhr' name='jazzhr' )
                                    label.form-check-label(for='itjazzhr') &nbsp JazzHR
                                .col
                                    .form-check.form-switch
                                    input#itmailchimp.position.form-check-input(type='checkbox' value='mailchimp' name='mailchimp')
                                    label.form-check-label(for='itmailchimp') &nbsp Mailchimp 
                            .row
                                .col
                                    .form-check.form-switch
                                    input#itoffice365.position.form-check-input(type='checkbox' value='office365' name='office365')
                                    label.form-check-label(for='itoffice365') &nbsp Office365    
                                .col
                                    .form-check.form-switch
                                    input#itpayspace.position.form-check-input(type='checkbox' value='payspace' name='payspace')
                                    label.form-check-label(for='itpayspace') &nbsp Payspace
                                .col
                                    .form-check.form-switch
                                    input#itpipedrive.position.form-check-input(type='checkbox' value='pipedrive' name='pipedrive')
                                    label.form-check-label(for='itpipedrive') &nbsp Pipedrive
                                .col
                                    .form-check.form-switch
                                    input#itpowerbi.position.form-check-input(type='checkbox' value='powerbi' name='powerbi')
                                    label.form-check-label(for='itpowerbi') &nbsp PowerBI 
                            .row
                                .col
                                    .form-check.form-switch
                                    input#itslack.position.form-check-input(type='checkbox' value='slack' name='slack' )
                                    label.form-check-label(for='itslack') &nbsp Slack
                                .col
                                    .form-check.form-switch
                                    input#itsurveymonkey.position.form-check-input(type='checkbox' value='surveymonkey' name='surveymonkey')
                                    label.form-check-label(for='itsurveymonkey') &nbsp  SurveyMonkey
                                .col
                                    .form-check.form-switch
                                    input#itturnitin.position.form-check-input(type='checkbox' value='turnitin' name='turnitin')
                                    label.form-check-label(for='itturnitin') &nbsp  Turnitin
                                .col
                                    .form-check.form-switch
                                    input#itzoom.position.form-check-input(type='checkbox' value='zoom' name='zoom')
                                    label.form-check-label(for='itzoom') &nbsp  Zoom
                    
                .card(style="width: 75%")
                    script(type='text/javascript' src='javascripts/groupSelector.js')
                    .card-body.container
                        h5.card-title Groups
                        // Accordion without outline borders
                        #accordionFlushExample.accordion.accordion-flush
                            .accordion-item
                                h2#flush-headingOne.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                    | Amazing Grace Private School
                                #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="AGP")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingOne.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                    | Enko Bamako Campus
                                #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EBK")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingTwo.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                    | Enko Bonanjo Campus
                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EBC")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingOne.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                    | Enko Botho Campus
                                #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EBT")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingTwo.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                    | Enko Keur Gorgui Campus
                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EKG")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingOne.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                    | Enko La Gaiete Campus
                                #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EGC")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingTwo.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                    | Enko Ouaga Campus
                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EOG")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingOne.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                    | Enko Riverside Campus
                                #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EVS")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingTwo.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                    | Enko Riviera Campus
                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="ERV")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingOne.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                    | Enko Sekeleka Campus
                                #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="ESC")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingTwo.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                    | Enko Waca Campus
                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EWC")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingTwo.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                    | Jacaranda Academy
                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="EJA")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingTwo.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                    | Pestalozzi Education Center
                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="PED")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                            .accordion-item
                                h2#flush-headingTwo.accordion-header
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                    | Common groups
                                #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                                .accordion-body
                                    .container
                                        .row
                                            each group in groups
                                                if (group.school_code=="ALL")
                                                    .col-sm
                                                        .form-check.form-switch
                                                        input(id=group.mail class='school' class=group.school_code  type='checkbox' value=group.mail.toString().split('@')[0] name='enkogroups' checked='')
                                                        label.form-check-label(for=group.mail) &nbsp 
                                                            | #{ group.mail.toString().split('@')[0] }
                section.d-flex.flex-column.align-items-center.justify-content-center(style="width: 75%")
                    .row.justify-content-center                            
                        #onsubmitemailfeedback.justify-content-center.py-4 Please Verify 
                            a(href='#proposedemail') &nbsp the proposed email field 
                            | &nbsp before submitting the form
                        button#btnOnSubmitt.btn.btn-primary(type='submit' disabled='') Submit the form
                    